<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <h1>NewAd</h1>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: "NewAd"
  }
</script>

<style scoped>

</style>