<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--secondary mb-3">Orders</h1>
        <v-list
          flat
          subheader
          three-line
        >
          <v-list-item
            v-for="order in orders"
            :key="order.id"
          >
            <v-list-item-action>
              <v-checkbox
                :input-value="order.done"
                color="orange lighten-1"
                @change="markDone(order)"
              ></v-checkbox>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ order.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ order.phone }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn
                :to="'/ad/' + order.adId"
                color="orange lighten-1"
              >Open
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'Orders',
    data() {
      return {
        orders: [
          {
            id: 'de34',
            name: 'Tarron',
            phone: '8-132-423-56-64',
            adId: '123',
            done: true,
          },
        ],
      };
    },
    methods: {
      markDone(order) {
        order.done = false;
      },
    },
  }
</script>

<style scoped>

</style>