<template>
  <div>
    <v-container fluid>
      <v-layout row>
        <v-flex xs12>
          <v-carousel>
            <v-carousel-item
              v-for="ad in ads"
              :key="ad.id"
              :src="ad.imageSrc"
              reverse-transition="fade-transition"
              transition="fade-transition"
            >
              <div class="carousel-link">
                <v-btn color="orange lighten-1" :to="'/ad/' + ad.id">{{ ad.title }}</v-btn>
              </div>
            </v-carousel-item>
          </v-carousel>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex
          xs12
          sm6
          md4
          lg4
          v-for="ad of ads"
          :key="ad.id"
        >
          <v-card
          max-width="334px"
          >
            <v-img
              :src="ad.imageSrc"
              height="200px"
            ></v-img>
            <v-card-title>
              {{ ad.title }}
            </v-card-title>
            <v-card-subtitle>
              {{ ad.description }}
            </v-card-subtitle>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                text
                :to="'/ad/' + ad.id"
              >
                Open
              </v-btn>
              <v-btn
                color="orange lighten-2"
                text
              >
                Buy
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        ads: [
          {
            title: 'First ad',
            description: 'Hello i\'m desc',
            promo: false,
            imageSrc: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
            id: 123,
          },
          {
            title: 'Second ad',
            description: 'Hello i\'m desc',
            promo: false,
            imageSrc: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
            id: 12345,
          },
          {
            title: 'Second ad',
            description: 'Hello i\'m desc',
            promo: false,
            imageSrc: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
            id: 12346,
          },
          {
            title: 'Second ad',
            description: 'Hello i\'m desc',
            promo: false,
            imageSrc: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
            id: 12347,
          },
        ],
      };
    },
  };
</script>

<style scoped>
  .carousel-link {
    position: absolute;
    bottom: 50px;
    left: 50%;
    background: rgba(0, 0, 0, .3);
    transform: translate(-50%, 0);
    padding: 8px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
</style>