<template>
  <v-app>
    <v-navigation-drawer
      app
      v-model="drawer"
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Menu
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="link in links"
          :key="link.title"
          :to="link.url"
        >
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ link.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
    >
      <v-app-bar-nav-icon
        @click="drawer = !drawer"
        class="hidden-md-and-up"
      ></v-app-bar-nav-icon>
      <v-toolbar-title>
        <router-link to="/" tag="span" class="pointer">
          Ad application
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          v-for="link in links"
          :key="link.title"
          text
          :to="link.url"
        >
          <v-icon
            left
          >{{link.icon}}
          </v-icon>
          {{link.title}}
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        drawer: false,
        links: [
          {
            title: 'Login',
            icon: 'mdi-lock',
            url: '/login',
          },
          {
            title: 'Registration',
            icon: 'mdi-face',
            url: '/registration',
          },
          {
            title: 'Orders',
            icon: 'mdi-bookmark-outline',
            url: '/orders',
          },
          {
            title: 'New ad',
            icon: 'mdi-note-plus-outline',
            url: '/new',
          },
          {
            title: 'My ads',
            icon: 'mdi-format-list-text',
            url: '/list',
          },
        ],
      };
    },
  };
</script>

<style scoped>
  .pointer {
    cursor: pointer;
  }
</style>